<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>regex_accountant</title>
  </head>
  <body>
    <h1>Transactions</h1>
    <table>
      <thead>
        <th>
          <td>Amount</td>
          <td>Account</td>
          <td>Description</td>
        </th>
      </thead>
      <tbody>
        {% for txn in txns %}
        <tr>
          <td>{{ txn.amount }} </td>
          <td>{{ txn.account }}</td>
          <td>{{ txn.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
